body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

h1, h2, h3, p {
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
  word-break: break-all;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}